@model Course;

    <div class="row">
        <div class="col-md-4">
            <img src="~/img/@Model.Image" class="img-fluid rounded" style="width: 200px;height: 150px;">
        </div>
        <div class="col-md-8">
            
                <a asp-controller="Course" asp-action="Details" asp-route-id="@Model.Id">
                    <h5 class="card-title">
                        <h2>@Model.Title</h2>
                    </h5>
                </a>
                <p class="card-text">@Model.Description</p>
                <div>
                    @if(Model.Tags != null) {
                    @foreach(var tag in Model.Tags){
                        
                            <span class="badge bg-danger">@tag</span>
                        }
                        
                    }
                </div>
        </div>
    </div>
