@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Kurs
@{

	ViewData["Title"] = "Kurs Ekle";

	<h2>@ViewData["Title"]</h2>
	<hr>
	<form asp-controller="Kurs" asp-action="Create" method="post">
		<div class="mb-3">
			<label asp-for="Baslik" class="form-label">Kurs Adı</label>
			<input asp-for="Baslik" class="form-control">
		</div>
		<div class="mb-3">
			<label asp-for="OgretmenId" class="form-label">Öğretmen</label>
			<select asp-for="OgretmenId" asp-items="ViewBag.Ogretmenler" class="form-select">
				<option value="">Seçiniz</option>
			</select>
		</div>
		<button type="submit" class="btn btn-secondary">Kaydet</button>
	</form>
}
